.container{
    background-image: linear-gradient(to right, rgb(205, 142, 205), rgb(152, 145, 11));
  }
  .item-box{
    display:flex;
    justify-content: space-around;
    margin: 50px 0;
  }
  .item-element{
    width:200px;
    height: 100px;
    background-image: linear-gradient(to right,purple, rgb(172, 107, 172));
    border: 1px solid pink;
    border-radius: 7px;
  }
  
  
  .textarea{
    background-color: gainsboro;
    border: 2px solid blue;
    border-radius: 7px;
  }
  .element-textarea{
    margin-bottom: 50px;
  }
  
  
  
  .item-btn{
    display: flex;
    gap: 30px;
    justify-content: center;
  }
  
  .btn{
    background-color: blueviolet;
    padding: 10px 20px;
    border-radius: 8px;
  }